
*{
  margin: 0;
  padding: 0;
}


#search-container{
  display: flex;
  /* background-color: rgba(68, 85, 102, 0.429); */
  align-items: center;
  justify-content: center;
  margin-block: 2.5rem;
}

#input-container{
  /* background-color: #666; */
  background-color: var(--bg-dark-3);
/* 
  backdrop-filter: blur(2.5px); */
  /* box-shadow: 2px 2px 5px rgba(68, 85, 102, 0.429); */
  display: flex;
  width: 37vw;
  padding:9px 9px;
  border-radius: 10px;
  /* border: 3.6px solid rgba(0, 0, 0, 0.11); */
  box-shadow: 2.5px 0.5px 7px #0000004f;
  /* filter: drop-shadow(0.5px 2.5px #0000004f); */
}
#input-container img{
  width: 28px;
  height: 28px;

}

#input-container input{
  width:82%;
  font-size: 1.1rem;
  background-color: #ffffff00;
  border: none;
  outline: none;
  margin-inline: 10px;
  /* color: #EEEEEE; */
  color: #CCC;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

#search-button{
  margin-right: 6px;
  margin-left: auto;

}
#search-button:hover{
  cursor: pointer;

}
#stortcuts-container{
  display: flex;

}
#stortcuts-box-container{
  display: flex;
  gap: 0.5rem;
  margin-inline: auto;
  padding-block: 1.6rem;
  /* transition: animation 0.3s ease; */
}
.shortcut-box{
  /* background-color: #f0eeee3c;
  backdrop-filter: blur(2.5px);
  box-shadow: 2px 2px 5px rgba(68, 85, 102, 0.429); */
  width: 128px;
  height: 128px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  text-decoration: none;
  

}
.shortcut-box:hover{
  background-color: var(--bg-dark-5);
  box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.519);
  /* animation: box-focus 0.3s ; */


}
.shortcut-box:hover .edit{

  opacity: 1;

}
.shortcut-box:hover .box-cover{

  animation: box-grow 0.4s ;
  background-color: var(--bg-dark-5);
  box-shadow: none;


}
@keyframes box-focus {
  0%{
      position: relative;
      bottom: 0.2rem;
  }
  25%{

      bottom: 0.4rem;
  }
  50%{

      bottom: 0.6rem;
  }
  75%{

      bottom: 0.8rem;
  }
  100%{

      bottom: 0.6rem;
  }
}
@keyframes box-grow {
  0%{
    transform: scale3d(1.3, 1.1, 1);
    filter: drop-shadow(0 0 4px #3d3d3d);
  }
  50%{
    
    border-radius:15px;
    transform: scale3d(1.5, 1.3, 1.7);

  }
  100%{
    transform: scale3d(1, 1, 1);
    background-color:var(--bg-dark-5);
  }
}

.box-cover{
  background-color: var(--bg-dark-4);
  width: 68px;
  height: 68px;
  border-radius: 100%;
  display: flex;
  box-shadow: 0px 0px 5px rgba(19, 19, 19, 0.633);
  align-items: center;
  justify-content: center;
}
.box-cover img{

  width: 39px;
  height: 39px;

}
.shortcut-box p{

color: #CCC;


margin-block: 5px;
font-family: "Roboto", sans-serif;
font-weight: 380;
font-style: normal;

}

.edit{
  opacity:0;
}
.edit img{
  width: 18px;
  filter: invert(1) brightness(1);
  margin-inline: 0.7rem;
}

.nav{
  width: 53.7vw;
  background-color:var(--bg-dark-2);
  margin-inline: auto;
  display: flex;
  box-shadow: 1.5px 0px 7px #0000004f;
  padding-block:1rem ;
  border-radius: 5px;
  color: var(--text-white-dull);

}

.settings{
  margin-left: auto;
  margin-right: 17px ;
}
.opt-container{
  display: flex;
  gap: 14px;
  margin-inline: 10px;

}
.options{
  display: flex;
  flex-direction: column;

}
.options *{
  font-size: 1.1;
  cursor: pointer;
}

.line{

  /* width: 2.2rem; */
  width: 80px;
  height: 2.5px;
  background-color: #0084f7e8;

  backdrop-filter: blur(5px);
  transition: all 0.2s;
  border-radius: 1.3px;
  position: absolute;
  left: var(--left);
  margin-top: 24px;
  margin-left: 10.5px;

  transition: all 0.5s ease;

}

.News{
  width: 53.7vw;
  margin-inline: auto;
  background-color: var(--bg-dark-3);
  box-shadow: 2.5px 0px 7px #0000004f;
  height: 18.6rem;
  display: flex;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

  /* overflow: clip; */
}

.new-des{
  color:var(--text-white-dull);
}
@media screen and (max-width: 1279px) {
  .News,.nav{
    width: 80vw;
  }
  #input-container{
    width: 76vw;
  }
  #search-button{
    margin-left: auto;
    margin-right:0.8rem ;
  }
}
@media screen and (max-width: 780px) {
  .News,.nav{
    width: 86vw;
  }

}
.news-cont{
  width: 100%;
  height: 100%;
  display: flex;


  
}
.news-cont img{
  width: 60%;
  aspect-ratio: 2/1.7;
  margin-inline: 0.7rem;
  margin-block: auto;
  border-radius: 4px;


  
}
.news-cont .content{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 2rem;
  /* justify-content: center; */
  padding-block: 1.76rem;

  
}
.news-cont .content h3{
  font-size: 1.65rem;
  
}
.btn-cont{
  display: flex;
  gap: 1.1rem;
}
.btn-cont a{
  text-decoration: none;

  width: fit-content;



}
.news-btn{
  background-color: #0084f7e8;
  font-size: 1.15rem;
  font-weight: 500;
  padding-inline: 15px;
  padding-block: 5.5px;
  outline: none;
  border: none;
  border-radius: 6px;
  transition: all 0.6s ease-in-out;
  
  
}
.news-btn:hover{
  padding-inline: 17px;
  border-radius: 18px;
  background-color: var(--bg-dark-5);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.753);
  color:var(--text-white-dull);


  
}

.writen-date,.source{
  font-size: 0.9rem;
  background-color: var(--bg-dark-5);
  padding-inline: 8.6px;
  border-radius: 21px;
  /* color: #d5d4d4; */
  color: var(--text-white-dull);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading{
  width: 30%;
  height: 3px;
  background-color: #0084f7e8;
  border-radius: 2px;
  animation:Load 0.3s linear;
}

@keyframes Load {
  from{
    width: 25%;
  }
  to{
    width: 100%;
  }
  
}