
*{
  margin: 0;
  padding: 0;
}


.home-nav{
  width: 100vw;
  margin-block-start: 2px;

}
.nav .right{
  margin-left: auto;
  margin-right: 1rem;
}
.right .items{
  margin-left: auto;
  margin-right: 1rem;
  width: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.3rem;
}
.right .items:hover{
cursor: pointer;
}
.items img{
  width: 90%;
}

#search-container{
  display: flex;
  /* background-color: rgba(68, 85, 102, 0.429); */
  align-items: center;
  justify-content: center;
  margin-block-start: 0.8rem;
  margin-block-end: 2.5rem;
}

#input-container{
  /* background-color: #666; */
  background-color: var(--bg-dark-3);
/* 
  backdrop-filter: blur(2.5px); */
  /* box-shadow: 2px 2px 5px rgba(68, 85, 102, 0.429); */
  display: flex;
  width: 37vw;
  padding:9px 9px;
  border-radius: 10px;
  /* border: 3.6px solid rgba(0, 0, 0, 0.11); */
  box-shadow: 2.5px 0.5px 7px #0000004f;
  /* filter: drop-shadow(0.5px 2.5px #0000004f); */
}
#input-container img{
  width: 28px;
  height: 28px;

}

#input-container input{
  width:82%;
  font-size: 1.1rem;
  background-color: #ffffff00;
  border: none;
  outline: none;
  margin-inline: 10px;
  /* color: #EEEEEE; */
  color: #CCC;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

#search-button{
  margin-right: 6px;
  margin-left: auto;

}
#search-button:hover{
  cursor: pointer;

}
#stortcuts-container{
  display: flex;

}
#stortcuts-box-container{
  display: flex;
  gap: 0.5rem;
  margin-inline: auto;
  padding-block: 1.6rem;
  /* transition: animation 0.3s ease; */
}
.shortcut-box{
  /* background-color: #f0eeee3c;
  backdrop-filter: blur(2.5px);
  box-shadow: 2px 2px 5px rgba(68, 85, 102, 0.429); */
  width: 128px;
  height: 128px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  text-decoration: none;
  

}
.shortcut-box:hover{
  background-color: var(--bg-dark-5);
  box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.519);
  /* animation: box-focus 0.3s ; */


}
.shortcut-box:hover .edit-cont{

  opacity: 1;
  cursor: pointer;

}
.shortcut-box:hover .box-cover{

  animation: box-grow 0.4s ;
  background-color: var(--bg-dark-5);
  box-shadow: none;


}
@keyframes box-focus {
  0%{
      position: relative;
      bottom: 0.2rem;
  }
  25%{

      bottom: 0.4rem;
  }
  50%{

      bottom: 0.6rem;
  }
  75%{

      bottom: 0.8rem;
  }
  100%{

      bottom: 0.6rem;
  }
}
@keyframes box-grow {
  0%{
    transform: scale3d(1.3, 1.1, 1);
    filter: drop-shadow(0 0 4px #3d3d3d);
  }
  50%{
    
    border-radius:15px;
    transform: scale3d(1.5, 1.3, 1.7);

  }
  100%{
    transform: scale3d(1, 1, 1);
    background-color:var(--bg-dark-5);
  }
}

.box-cover{
  background-color: var(--bg-dark-4);
  width: 68px;
  height: 68px;
  border-radius: 100%;
  display: flex;
  box-shadow: 0px 0px 5px rgba(19, 19, 19, 0.633);
  align-items: center;
  justify-content: center;
}
.box-cover img{

  width: 39px;
  height: 39px;

}
.shortcut-box p{

color: #CCC;


margin-block: 5px;
font-family: "Roboto", sans-serif;
font-weight: 380;
font-style: normal;

}
.edit-cont{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-cont{
  opacity:0;
}
.edit,.delete{
  width: 18px;
  margin-inline: 0.7rem;
}

.screen-dialog{

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(26, 26, 26, 0.459); /* Like ::backdrop */
  backdrop-filter: blur(2px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dialog{
  background-color:var(--bg-dark-5);
  position: fixed;
  box-shadow: 1.5px 0px 7px #0000004f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  border-radius: 0.6rem;
  padding-inline: 10px;
  padding-block: 10px;
  align-items: center;
  justify-content: center;
  width: 57vmin;
  padding-block:1.5rem ;
  z-index: 5;


}

.setting-dialog{
  background-color:var(--bg-dark-4);
  position: fixed;
  width: 59vmin;
  height: auto;
  box-shadow: 1.5px 0px 7px #0000004f;
  z-index:5;
  border-radius:0.8rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 0.9rem;
  gap: 0.7rem;

}
.settings-headings{
  width: 100%;
  display:flex;

  /* background-color: rgba(153, 205, 50, 0.404); */
  gap: 0.5rem;
}
.settings-headings img{
  width: 1.45rem;
}
.center{
  justify-content: center;
}

.left{

  margin-left:1.5rem;
}
.category{
  width: 100%;
}
.category-inp{
  width: 100%;
  /* background-color: rgba(255, 166, 0, 0.744); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 2.1rem;
  margin-bottom: 0.9rem;


}
.category-input-cont{

  width: 75%;
  position: relative;
}
.category-input-cont input{
  width: 99%;
  background-color: var(--bg-dark-4);
  outline: none;
  border: none;
  color: #CCC;
  border-bottom:1.4px solid var(--text-white-dull);
  font-size: 1.2rem;
  padding:4px 6px;
  transition: 0.1s ease;
}
.category-input-cont input:focus ~ .label,
.category-input-cont input:valid ~ .label{
  transform: translateY(-32px);
  color:inherit;
  font-size: 1.4rem;
}
.category-input-cont input:focus,
.category-input-cont input:valid{
  /* border-bottom:1.4px solid #0084f7e8; */
  border-bottom:1.4px solid var(--main-color);
}
.category-input-cont .label{
  position:absolute;

  color: #bcbcbc;
  bottom:13%;
  font-size: 1.2rem;
  padding:4px;
  transition: 0.2s ease;
  pointer-events: none;
}
.cancel{
  width: 1.4rem;
  height: 1.4rem;
  color: inherit;
  background-color:var(--bg-dark-5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  left:94%;
  position: absolute;
  bottom: 28%;
  
}
.cancel:hover,
.cancel:focus{
  cursor: pointer;
}
.cross:hover,
.cross:focus{
  cursor: pointer;
}

.tags-cont{
  width: 90%;
  margin-inline: auto;
  /* background-color:rgba(102, 51, 153, 0.68); */

  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
  gap: 0.7rem;
  padding-block: 0.6rem;
  width: fit-content;
  height: fit-content;
}
.tag{
  background-color:var(--bg-dark-5);
  border-radius: 50px;
  padding:2px 7px;
  display: flex;
  align-items: center;
  color: var(--text-white-dull);
  gap: 6px;

  /* justify-content: center; */

}


.Slider{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Slider input{
  width: 90%;
}

/* Style the track (the line) */
.Slider input{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  /* background: var(--bg-dark-5); */
  border-radius: 5px;
  outline: var(--text-white-dull);
}

/* Style the thumb (the draggable circle) - Chrome, Safari, Edge */
.Slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background:var(--bg-dark-5);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
}

.Slider input::-webkit-slider-thumb:hover {
  background:var(--bg-dark-5);
}

/* Firefox */
.Slider input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--bg-dark-5);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--text-white-dull);
}
.Slider input::-moz-range-thumb:hover {

  background: var(--bg-dark-3);

}

/* Firefox track */
.Slider input::-moz-range-track {
  height: 8px;
  /* background: var(--main-color); */
  border-radius: 5px;
}

.select-colors{
  display: flex;
  /* background-color: #ffffff83; */
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;
}
.colors{
  display: flex;
  /* background-color: #35cb6cb8; */
  width:77%;
  /* align-items: center; */
  justify-content: center;
  gap: 0.7rem;
  padding-block:0.7rem;
}
.color{
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 3px solid #404040;

}
.color:hover,
.color:focus{
  cursor: pointer;

}
.color-1{
  background-color:#0084f7;

}
.color-2{
  background-color:#14b8a6;

}
.color-3{
  /* background-color:#A3E635; */
  background-color:#4caf50;

}
.color-4{
  background-color: #F59E0B;
}


.border-selection{
  border: 4px solid var(--text-white-dull); 
}
/* .category-inp{
  display: flex;
  background-color:rgba(255, 166, 0, 0.479);
  width:100%;
}
.category-inp input{
font-size: 1.1rem;
outline: none;
border: none;
padding-inline: 5px;
padding-block:4px ;
width: 62%;
background-color: var(--bg-dark-5);
border-radius:2rem;
color:var(--text-white-dull);
}
.category-btn{
  background-color: #0084f7e8;
  font-size: 1.15rem;
  font-weight: 500;
  padding-inline: 15px;
  padding-block: 5.5px;
  outline: none;
  border: none;
  border-radius: 6px;
  transition: all 0.6s ease-in-out;
} */

.dialog-input-cont{
  width: 80%;
  margin-bottom: 0.6rem;
}
.dialog-input-cont input{
  width: 99%;
  background-color: var(--bg-dark-5);
  outline: none;
  border: none;
  border-radius: 2px;
  color: #CCC;
  border-bottom:1.4px solid var(--text-white-dull);
  font-size: 1.2rem;
  padding:4px 6px;
  transition: 0.1s ease;

}
.dialog-input-cont input:focus ~ .label,
.dialog-input-cont input:valid ~ .label{
  transform: translateY(-20px);
  color:inherit;
}
.dialog-input-cont input:focus,
.dialog-input-cont input:valid{
  /* border-bottom:1.4px solid #0084f7e8; */
  border-bottom:1.4px solid var(--main-color);
}
.dialog-input-cont .label{
  position:absolute;

  color: #bcbcbc;
  bottom: 42px;
  font-size: 1.2rem;
  padding:4px;
  transition: 0.2s ease;
  pointer-events: none;
}
.dialog-input-cont .l-1{
  bottom: 186px;
}
.dialog-input-cont .l-2{
  bottom: 110px;
}

.nav{
  width: 53.7vw;
  background-color:var(--bg-dark-2);
  margin-inline: auto;
  display: flex;
  box-shadow: 1.5px 0px 7px #0000004f;
  padding-block:1rem ;
  border-radius: 5px;
  color: var(--text-white-dull);

}

.settings{
  margin-left: auto;
  margin-right: 17px ;
}

.btn-cont-setting{
  display: flex;
  width: 100%;
  /* background-color: #54e051bb; */
  justify-content: flex-end;
  position: absolute;
}
.close-settings{
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  background-color:var(--bg-dark-3);
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}
.close-settings:nth-child(1){
  color: inherit;
  font-size: 1.2rem;
  transition:all 0.3s ease-out;
  
  
}
.close-settings:nth-child(1):hover{
  filter: brightness(90%);
  background-color: var(--main-color);
  cursor: pointer;
  
}

.opt-container{
  display: flex;
  gap: 14px;
  margin-inline: 10px;

}
.options{
  display: flex;
  flex-direction: column;

}
.options *{
  font-size: 1.1;
  cursor: pointer;
}

.line{

  /* width: 2.2rem; */
  width: 80px;
  height: 2.5px;
  /* background-color: #0084f7e8; */
  background-color: var(--main-color);

  backdrop-filter: blur(5px);
  transition: all 0.2s;
  border-radius: 1.3px;
  position: absolute;
  left: var(--left);
  margin-top: 24px;
  margin-left: 10.5px;

  transition: all 0.5s ease;

}

.News{
  width: 53.7vw;
  margin-inline: auto;
  background-color: var(--bg-dark-3);
  box-shadow: 2.5px 0px 7px #0000004f;
  height: 18.6rem;
  display: flex;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

  /* overflow: clip; */
}

.new-des{
  color:var(--text-white-dull);
}
@media screen and (max-width: 1279px) {
  .News,.nav{
    width: 80vw;
  }
  #input-container{
    width: 76vw;
  }
  #search-button{
    margin-left: auto;
    margin-right:0.8rem ;
  }
}
@media screen and (max-width: 780px) {
  .News,.nav{
    width: 86vw;
  }

}
.news-cont{
  width: 100%;
  height: 100%;
  display: flex;


  
}
.news-cont img{
  width: 60%;
  aspect-ratio: 2/1.7;
  margin-inline: 0.7rem;
  margin-block: auto;
  border-radius: 4px;


  
}
.news-cont .content{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 2rem;
  /* justify-content: center; */
  padding-block: 1.76rem;

  
}
.news-cont .content h3{
  font-size: 1.65rem;
  
}
.btn-cont{
  display: flex;
  gap: 1.1rem;
}
.btn-cont a{
  text-decoration: none;

  width: fit-content;



}



.news-btn{
  /* background-color: #0084f7e8; */
  background-color: var(--main-color);
  font-size: 1.15rem;
  font-weight: 500;
  padding-inline: 15px;
  padding-block: 5.5px;
  outline: none;
  border: none;
  border-radius: 6px;
  transition: all 0.6s ease-in-out;
  
  
}
.news-btn:hover{
  padding-inline: 17px;
  border-radius: 18px;
  background-color: var(--bg-dark-1);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.753);
  color:var(--text-white-dull);


  
}
.dialog-btn-C{
  background-color: var(--bg-dark-3);
  font-size: 1.15rem;
  font-weight: 500;
  padding-inline: 15px;
  padding-block: 5.5px;
  outline: none;
  border: none;
  border-radius: 6px;
  color:var(--text-white-dull);
  transition: all 0.4s ease-in-out;
  
  
}
.dialog-btn-C:hover{
  padding-inline: 16px;
  background-color:var(--bg-dark-1);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.753);
}

.dialog-btn-S{
  /* background-color:#0084f7e8; */
  background-color:var(--main-color);
  font-size: 1.15rem;
  font-weight: 500;
  padding-inline: 15px;
  padding-block: 5.5px;
  outline: none;
  border: none;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
  
  
}
.dialog-btn-S:hover{
  padding-inline: 16px;
  filter: brightness(85%);
  cursor: pointer;
  box-shadow: 1px 1.5px 5px rgba(29, 29, 29, 0.694);


  
}

.writen-date,.source{
  font-size: 0.9rem;
  background-color: var(--bg-dark-5);
  padding-inline: 8.6px;
  border-radius: 21px;
  /* color: #d5d4d4; */
  color: var(--text-white-dull);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading{
  width: 30%;
  height: 3px;
  /* background-color: #0084f7e8; */
  background-color: var(--main-color);
  border-radius: 2px;
  animation:Load 0.3s linear;
}

@keyframes Load {
  from{
    width: 25%;
  }
  to{
    width: 100%;
  }
  
}