
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-dark-1:#121212;
  --bg-dark-2:hsl(0,0%,5%);
  --bg-dark-3:#1F1F1F;
  --bg-dark-4:#242424;
  --bg-dark-5:#2D2D2D;
  --text-white-dull:#CCC;
  color-scheme: light dark;
  color:hsl(0, 0%, 87%);
  background-color: var(--bg-dark-1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}